version 18.3R1.9;
system {
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
            }
        }
    }
    root-authentication {
    }
    host-name vMX-1;
    services {
        ssh;
        telnet;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {     
            interactive-commands any;
        }
    }
}
chassis {
    fpc 0 {
        lite-mode;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.254.0.41/24;
            }
        }
    }
}
routing-options {
    rib inet6.0 {
        static {
            route 1111::/64 reject;
            route 2222::/64 reject;
        }
    }
    static {
        route 11.1.0.0/24 reject;
        route 11.2.0.0/24 reject;
        route 11.3.0.0/24 reject;       
    }
    autonomous-system 65000;
}
protocols {
    bgp {
        group EBGP {
            type external;
            multihop;
            export to-EBGP;
            peer-as 65500;
            neighbor 10.254.0.251 {
                family inet {
                    unicast;
                }
                family inet6 {
                    unicast;
                }
            }
        }
    }
}
policy-options {
    policy-statement to-EBGP {
        term static {
            from protocol static;
            then accept;
        }
    }
}                                       
